{{define "journal-entry"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head" .}}
    </head>

    <body id="journal"
    class="p-2 flex flex-col gap-12 scanlines vignette-glow bg-[rgb(18,14,8)] font-mono min-h-screen">
        {{template "header" .}}

        <main class="w-3/5 flex flex-col gap-4 mx-auto text-amber flex-1">
            <h1 class="font-bold text-2xl">{{.Title}}</h1>
            
            <div class="flex flex-col gap-2">
                <p class="text-sm">Dated on {{.Date}}</p>
                <p class="text-sm">{{.Description}}</p> 
            </div>

            <div class="
            pt-12 flex flex-col gap-2
            [&_h2]:text-xl [&_h2]:font-semibold [&_h2]:mt-6 [&_h2]:mb-2
            [&_h3]:text-lg [&_h2]:font-semibold [&_h2]:mt-4 [&_h2]:mb-1
            [&_a]:underline hover:[&_a]:bg-[rgba(71,85,105,0.2)] [&_a]:duration-300
            ">
                {{.Content}}
            </div>
        </main>

        {{template "footer" .}}
    </body>
</html>
{{end}}